*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:rgb(255, 255, 255);
    min-height: 100vh;
}

.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
    

}

.left-side{
    background-color: rgb(38, 37, 37);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex:1 1 300px;
    padding: 50px;
    padding-top: 12px;
    min-height: 100vh;
    
}

.left-side a img{
    width: 120px;
    margin-bottom: 50px;

}



.team h1{
    font-size: 50px;
    padding-bottom: 20px;
    font-family:"Noto Sans", sans-serif;
    font-weight: 450;
}
.team p{
    font-size: 18px;
    padding-bottom: 30px;
    font-family: "Roboto", sans-serif;
}

.team img{
    width: 100px;
    padding: 20px;
    margin-bottom: 20px;
    
}
.trust{
    margin-top: 10px;
    
}
.trust p{
    font-size: 15px;
    color: rgb(200, 195, 195);
    opacity: 0.5;
    font-family: "Roboto", sans-serif;
}

.trust h4{
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    

}


.form-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex:1 1 300px;
    padding: 40px;
    margin: 10px;
   
    
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    width: 100%;
    margin: 70px;
    gap: 16px;
    margin-bottom: 10px;
   

}
.form-container h2{
    font-size: 40px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    margin-top: 15px;
    
    
}
.form-container p{
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 20px;

}
form label{
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}
form input{
    width: 500px;
    height: 45px;
    border-radius: 15px;
    font-size: 16px;
    padding: 15px;
    margin-bottom: 30px;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.btn-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.btn{
    display:flex;
    justify-content: start;

}
.btn button{
    width: 70px;
    height: 40px;
    font-size: 18px;
    border-radius: 30px;
    background-color: rgb(122, 122, 122);
    color: white;
    font-family: "Roboto", sans-serif;
}


.line{
    display: flex;
    gap: 10px;
    
}
.line1{
     width: 70px;
    background-color:  rgb(204, 204, 204);
    height: 4px;
    border-radius: 10px;

}
.line2{
     width: 70px;
    background-color: rgb(204, 204, 204);
    height: 4px;
    border-radius: 10px;
    
}
.line3{
     width: 70px;
    background-color:  rgb(204, 204, 204);
    height: 4px;
    border-radius: 10px;
    
}

@media screen and (max-width: 768px) {

    .main{
        flex-direction: column;
        align-items: stretch;
    }

    .left-side,
    .form-container{
        width: 100%;
        padding: 40px 20px;
    }

    .left-side{
        min-height: auto;
    }

    form{
        margin: 0 auto;
        width: 100%;
    }

    form input{
        width: 100%;
        max-width: 100%;
    }

    .btn-line{
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    }

    .line{
        flex-wrap: wrap;
    }

    .line1,
    .line2,
    .line3{
        width: 50px;
    }

    .trust{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
}
